
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Add Product</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="upc">Product UPC</label>  
  <div class="col-md-4">
  <input id="upc" name="upc" type="text" placeholder="Enter UPC" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Product Name</label>  
  <div class="col-md-4">
  <input id="name" name="name" type="text" placeholder="Enter Name" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="quantity">Product Quantity</label>  
  <div class="col-md-4">
  <input id="quantity" name="quantity" type="text" placeholder="Enter Quantity" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="price">Product Price</label>  
  <div class="col-md-4">
  <input id="price" name="price" type="text" placeholder="Enter Price" class="form-control input-md">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="addproduct"></label>
  <div class="col-md-4">
    <button id="addproduct" name="addproduct" class="btn btn-primary">Add Product</button>
  </div>
</div>

</fieldset>
</form>
