<div class="row" style="text-align:right">
  <a href="#" ng-click="logOut()" class="btn btn-default btn-danger btn-lg"><span class="glyphicon glyphicon-log-out"></span> Log Out</a>
</div>
<div class="row" ng-init="init()">
  
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Add User</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="firstnametextinput">Enter First Name</label>  
  <div class="col-md-4">
  <input ng-model="user.firstName" type="text" placeholder="First Name" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="lastnametextinput">Enter Last Name</label>  
  <div class="col-md-4">
  <input ng-model="user.lastName" type="text" placeholder="Last Name" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="phonetextinput">Enter Phone Number</label>  
  <div class="col-md-4">
  <input ng-model="user.phoneNumber" type="text" placeholder="Phone Number" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="emailtextinput">Enter Email Address</label>  
  <div class="col-md-4">
  <input ng-model="user.username" type="text" placeholder="Email Address" class="form-control input-md">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="repasswordinput">Password Input</label>
  <div class="col-md-4">
    <input ng-model="user.password" type="password" placeholder="Enter Password" class="form-control input-md">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">Password Input</label>
  <div class="col-md-4">
    <input ng-model="user.password" type="password" placeholder="ReEnter Password" class="form-control input-md">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="roleselectbasic">Select Role</label>
  <div class="col-md-4">
    <select ng-model="user.role" class="form-control">
      <option value="1">Admin</option>
      <option value="2">Sales</option>
      <option value="3">Inventory</option>
    </select>
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
  <div class="col-md-4">
    <button id="singlebutton"  class="btn btn-primary" ng-click="addUSer()">Sign Up</button>
  </div>
</div>

</fieldset>
</form>

</div>
