<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      <!-- Search: <input ng-model="result" type="text" typeahead="suggestion for suggestion in products($viewValue)"> -->

      
      <button class="btn btn-default" ng-click="showAddForm()">
        <span class="glyphicon glyphicon-plus" ></span>Add Item
      </button>

    </div>
    <div class="col-md-10">
      <!--Body content-->
      <div class="left-inner-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input ng-model="query" type="text" ng-change="searchItem()" class="form-control" />
      </div>
      <!-- Show Search Result-->
      <table class="table table-striped" ng-show="showResult">
        <thead ng-if="showResult">
          <tr>
            <th>UPC</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in inventory | limitTo:numLimit" >
              <td>{{product.name}}</td>
              <td>{{product.name}}</td>
              <td>
                {{product.onHandQu}}
                <span 
                  class="glyphicon glyphicon-plus-sign" 
                  ng-click="increment(product)">
                </span>
                <span class="glyphicon glyphicon-minus-sign" ng-click="decrement(product)"></span>
              </td>
              <td>{{product.price}}</td>
              <td>
                <button class="btn btn-default" ng-click="showEditForm(product)">
                  <span class="glyphicon glyphicon-edit" ></span>
                  Edit
                </button>
              </td>
            
          </tr>
        </tbody>
      </table>

    </div>
  </div>


 
  <div class="row">
    <div class="col-md-6">
      <div ng-show="showAddItem">


        <form class="form-horizontal">
          <fieldset>

          <!-- Form Name -->
          <legend>Add Product</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="upc">Product UPC</label>  
            <div class="col-md-4">
            <input id="upc" ng-model="newItem.upc" type="text" placeholder="Enter UPC" class="form-control input-md">
              
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Product Name</label>  
            <div class="col-md-4">
            <input id="name" ng-model="newItem.name" type="text" placeholder="Enter Name" class="form-control input-md">
              
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="quantity">Product Quantity</label>  
            <div class="col-md-4">
            <input id="quantity" ng-model="newItem.quantity" type="text" placeholder="Enter Quantity" class="form-control input-md">
              
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="price">Product Price</label>  
            <div class="col-md-4">
            <input id="price" ng-model="newItem.price" type="text" placeholder="Enter Price" class="form-control input-md">
              
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="addproduct"></label>
            <div class="col-md-4">
              <button id="addproduct" name="addproduct" class="btn btn-primary">Add Product</button>
            </div>
          </div>

          </fieldset>
        </form>

      </div>



    </div>
  </div>
  <div class="row" id="notifications">
    
  </div> 
</div>