<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      Search: <input ng-model="result" type="text" typeahead="suggestion for suggestion in products($viewValue)">
      Search: <input ng-model="query" type="text" ng-change="searchItem()">

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="products">
        <li ng-repeat="product in inventory | limitTo:numLimit" class="thumbnail phone-listing">
          {{product}}
        </li>
      </ul>

    </div>
  </div>


  <button  ng-click="showAddForm()"> add item</button>
  <div class="row">
    <div class="col-md-6">


  <div class="content" ng-show="showAddItem">
      <form id="AddUser" role="form"  >
        <table width="599" height="527">
        <tr>
          <td width="120"><label>Enter UPC</label></td>
          <td width="144"> <input type="text" placeholder="Enter 13 digit number here" ng-model="newItem.upc" size=""/></td>
        </tr> 
        <tr>
          <td><label for="productName">Item/Product Name</label></td>
          <td><input id="productId" type="text" placeholder="Enter Product Name here" ng-model="newItem.productName" /></td>
        </tr>
        <tr>
          <td>Current Quantity</td>
          <td><input id="quantity" type="text" placeholder="Enter No of Itemns/Products here" ng-model="newItem.quantity"/></td>
        </tr>
        <tr>
          <td>Price</td>
          <td><input id="quantity" type="text" placeholder="Enter Price" ng-model="newItem.price"/></td>
        </tr> 
        
       
        <tr><td><button id="btnSubmit" ng-click="addItem(newItem)">Add</button></td>
        <td><button id="btnReset" ng-click="reset()">Reset</button></td>
        </tr>
      </table>
    </form>
  </div>


    </div>
  </div>
</div>