<div class="page-header">
   <h1>Welcome, 
      <small style="color:#d9534f;">{{user.firstName +' '+ user.lastName}}</small>
   </h1>
   <div class="row" style="text-align:right">
  <a href="#" ng-click="logOut()" class="btn btn-default btn-danger btn-lg"><span class="glyphicon glyphicon-log-out"></span> Log Out</a>
</div>
</div>

<div class="container-fluid well" ng-init="init()">


<div class="alert alert-success"
      style="margin-top:20px" 
      ng-if="itemEdited" 
      ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">Order has been finalized</div>

  <div class="row" style="margin-top:40px;">
    
    <div class="col-md-6">
      <!--Body content-->
      <div class="left-inner-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input ng-model="query" type="text" ng-change="searchItem(query)" class="form-control" />
      </div>
      <!-- Show Search Result-->
      <table class="table table-striped" ng-show="showResult">
        <thead ng-if="showResult">
          <tr>
            <th>UPC</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in inventory | limitTo:numLimit" >
              <td>
                <span editable-text="product.upc" 
                      e-name="upc" 
                      e-form="rowform"
                      e-required>
                {{product.upc}}
                </span>
              </td>
              <td>
                <span editable-text="product.name" 
                      e-name="name" 
                      e-form="rowform"
                      e-required>
                {{product.name}}
                </span>
              </td>
              <td>
                <span editable-number="product.quantity" 
                      e-name="quantity" 
                      e-form="rowform"
                      e-required
                      >
                {{product.quantity}}
                </span>
              </td>
              <td>
                <span editable-number="product.price" 
                      e-name="price" 
                      e-form="rowform"
                      e-required
                      onbeforesave="checkPrice($data, product.quantity)">
                {{product.price}}
                </span>
              </td>

              <td style="white-space: nowrap">
                <!-- form -->
                <form editable-form name="rowform" onbeforesave="editItem(product)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                    save
                  </button>
                  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                    cancel
                  </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                  <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                </div>  
              </td>
              <!-- <td>
                <button class="btn btn-default" ng-click="showEditForm(product)">
                  <span class="glyphicon glyphicon-edit" ></span>
                  Edit
                </button>
              </td> -->
            
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-md-2">
      <button class="btn btn-default" ng-click="showAddForm()">
        <span class="glyphicon glyphicon-plus" ></span>Add Item
      </button>

    </div>
  </div>


 
  <div class="row" style="margin-top:40px;">
    <div class="col-md-6">
      <div ng-show="showAddItem">


        <form class="form-horizontal">
          <fieldset>

          <!-- Form Name -->
          <legend>Add Product</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="upc">Product UPC</label>  
            <div class="col-md-4">
            <input id="upc" ng-model="newItem.upc" type="text" placeholder="Enter UPC" class="form-control input-md">
              
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Product Name</label>  
            <div class="col-md-4">
            <input id="name" ng-model="newItem.name" type="text" placeholder="Enter Name" class="form-control input-md">
              
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="quantity">Product Quantity</label>  
            <div class="col-md-4">
            <input id="quantity" ng-model="newItem.quantity" type="text" placeholder="Enter Quantity" class="form-control input-md">
              
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="price">Product Price</label>  
            <div class="col-md-4">
            <input id="price" ng-model="newItem.price" type="text" placeholder="Enter Price" class="form-control input-md">
              
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="addproduct"></label>
            <div class="col-md-4">
              <button id="addproduct" name="addproduct" class="btn btn-primary" ng-click="addItem(newItem)">Add Product</button>
            </div>
          </div>

          </fieldset>
        </form>

      </div>



    </div>
  </div>
  <div class="row" id = "footer">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Notifications</h3>
      </div>
      <div class="panel-body">
       <ul id="notifications" class="list-group"></ul>
      </div>
    </div>
    
    
  </div> 
</div>