<div class="container-fluid">

  <div class="row row-centered">
    <div class="col-md-6">
      <!--Sidebar content-->
      
      <div class="well">
        <div class="left-inner-addon">
          <i class="glyphicon glyphicon-search"></i>
          <input ng-model="customerQuery" type="text" 
                 typeahead="suggestion for suggestion in searchCustomers($viewValue)"
                 typeahead-editable="false"
                 typeahead-on-select="addCustomerToInvoice(customerQuery)"  
                 class="form-control" 
          />
        </div>
        <!-- <ul class="list-group">
            <li class="list-group-item"><a ng-click="showAddCustomerForm()">Add Customer</a></li>
        </ul> -->
      </div>

    </div>
  </div>

  <div class="row">
    <div class="well col-md-8">
      <!--Search Items -->
      <!-- Single button -->
      <div class="row"> 
        <div class="dropdown btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Search By
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              <li><a>UPC</a></li>
              <li><a>Name</a></li>
          </ul>
        </div>

        <div class="left-inner-addon">
          <i class="glyphicon glyphicon-search"></i>
          <input ng-model="query" type="text" ng-change="searchItem()" class="form-control" />
        </div>
      </div>


      <table class="table table-striped" ng-show="showResult">
        <thead>
          <tr>
            <th>UPC</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Add</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in inventory | limitTo:numLimit" >
              <td>{{product.upc}}</td>
              <td>{{product.name}}</td>
              <td>
                {{product.onHandQu}}
                <span class="glyphicon glyphicon-plus-sign"></span>
                <span class="glyphicon glyphicon-minus-sign"></span>
              </td>
              <td>{{product.price}}</td>
              <td>
                <button class="btn btn-default" ng-click="addProductToInvoice(product)">
                  <span class="glyphicon glyphicon-plus-sign" ></span>
                  Add
                </button>
              </td>
            
          </tr>
        </tbody>
      </table>


    </div>
  </div>


  <button  ng-click="showAddCustomerForm()" class="btn btn-default"> add item</button>
  
 <div class="row">
  <div class="col-md-6">

    <div ng-show="showAddCustomer">
      <form class="form-horizontal">
        <fieldset>

        <!-- Form Name -->
        <legend>Add Customer</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="first">First Name:</label>  
          <div class="col-md-4">
          <input ng-model="newCustomer.first" type="text" placeholder="First Name" class="form-control input-md" required="">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="last">Last Name</label>  
          <div class="col-md-4">
          <input ng-model="newCustomer.last" type="text" placeholder="Last Name" class="form-control input-md" required="">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="phone">Phone Number</label>  
          <div class="col-md-4">
          <input  ng-model="newCustomer.phone" type="text" placeholder="Phone Number" class="form-control input-md" required="">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="email">Email</label>  
          <div class="col-md-4">
          <input  ng-model="newCustomer.email" type="text" placeholder="Email" class="form-control input-md" required="">
            
          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="address">Address</label>
          <div class="col-md-4">                     
            <textarea class="form-control" ng-model="newCustomer.address"></textarea>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <div class="col-md-4">
            <button  ng-click="addCustomer(newCustomer)" class="btn btn-primary">Submit</button>
          </div>
        </div>

        </fieldset>
      </form>
    </div>


    <div class="content" ng-if="showEditCustomer">
      <form class="form-horizontal">
        <fieldset>

        <!-- Form Name -->
        <legend>Edit Customer</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="first">First Name:</label>  
          <div class="col-md-4">
          <input ng-model="feditCustomer.irst" type="text" placeholder="First Name" class="form-control input-md" required="">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="last">Last Name</label>  
          <div class="col-md-4">
          <input ng-model="editCustomer.last" type="text" placeholder="Last Name" class="form-control input-md" required="">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="phone">Phone Number</label>  
          <div class="col-md-4">
          <input  ng-model="editCustomer.phone" type="text" placeholder="Phone Number" class="form-control input-md" required="">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="email">Email</label>  
          <div class="col-md-4">
          <input  ng-model="editCustomer.email" type="text" placeholder="Email" class="form-control input-md" required="">
            
          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="address">Address</label>
          <div class="col-md-4">                     
            <textarea class="form-control" ng-model="editCustomer.address"></textarea>
          </div>
        </div>

        </fieldset>
      </form>

    </div>


    </div>
  </div>
</div>