<div class="container-fluid well" ng-init="init()">

  <div class="row row-centered">
    <div class="col-md-6">
      <div class="left-inner-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input  placeholder="Search Customer"
                ng-model="customerQuery" 
                type="text"
                typeahead="suggestion.firstName+' '+suggestion.lastName for suggestion in searchCustomers($viewValue)"
                typeahead-editable="false"
                typeahead-on-select="addCustomerToOrder($item)"
                typeahead-min-length="3"  
                class="form-control" 
        />
        <!-- Add to Order Button -->
        
      </div>
    </div>
    <div class="col-md-2">
      <button ng-click="showAddCustomerForm()" class="btn btn-default">
        <span class="glyphicon glyphicon-plus" ></span>
        Add Customer
      </button>
    </div>
    <div class="col-md-2" ng-if="!showPendingOrders">
      <button ng-click="showAllPendingOrders()" class="btn btn-default">
        <span class="glyphicon glyphicon-plus" ></span>
        Pending Orders
      </button>
    </div>
  </div>









<!--Customer content--> 



  <div class="row row-centered" style="margin-top:20px" ng-if="showCustomerDetails">
    <div class="col-md-10">
      <form editable-form name="editableForm" onaftersave="saveCustomer()">
        <table class="table">
          <tr>
            <td>
              <!-- editable username (text with validation) -->
              <span class="title">Customer Name: </span>
            </td>
            <td>
              <span editable-text="customer.firstName + ' ' + customer.lastName" e-name="name"  e-required>{{ customer.firstName + ' ' + customer.lastName || 'empty' }}</span>
            </td>
          </tr>
          <tr> 
            <td>
              <!-- editable username (text with validation) -->
              <span class="title">Email Address: </span>
            </td>
            <td>
              <span editable-text="customer.name" e-name="email"  e-required>{{customer.email  || 'empty' }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <!-- editable username (text with validation) -->
              <span class="title">Phone Number </span>
            </td>
            <td>
              <span editable-text="customer.phoneNumber" e-name="phoneNumber" e-required>
              {{ customer.phoneNumber || 'empty' }}</span>
            </td> 
          </tr>
          <tr>
            <td>
              <!-- editable username (text with validation) -->
              <span class="title">Address: </span>
            </td>
            <td>
              <span editable-text="customer.address" e-name="address" e-required>{{ customer.address || 'empty' }}</span>
            </td> 
          </tr>
        </table>

        

        <div class="buttons">
          <!-- button to show form -->
          <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
            Edit
          </button>
          <!-- buttons to submit / cancel form -->
          <span ng-show="editableForm.$visible">
            <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
              Save
            </button>
            <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
              Cancel
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>




<!--Pending Orders content--> 


  <div class="row row-centered" ng-if="showPendingOrders">
    <div class="col-md-9">
        <table class="table">
          <tr ng-repeat="order in pendingOrders">
            <td>{{order.customerName}}</td>
            <td>{{order.totalPrice}}</td>
            <td>
              <button type="button" class="btn btn-default" ng-click="getPendingOrder(order)">
                Continue
              </button>
            </td>
          </tr>
        </table>
    </div>
  </div>
    
        
      
      <!-- <div  ng-if="showSearchCustomer"> -->
        

        

         
  

  <div class="row" ng-if="showSearchProduct">
    <div class="col-md-8">
      
    </div>
  </div>







  <div class="row" ng-if="showSearchProduct">
    
    <div class="col-md-8">
      <!--Search Items -->
      <!-- Single button -->
      <div class="row"> 
        <div class="dropdown btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Search By
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              <li><a>UPC</a></li>
              <li><a>Name</a></li>
          </ul>
        </div>

        <div class="left-inner-addon">
          <i class="glyphicon glyphicon-search"></i>
          <input  ng-model="query" 
                  type="text" 
                  ng-change="searchItem(query)" 
                  class="form-control" 
          />
        </div>
      </div>


<!-- Products table -->
      <div class="row">
        <table class="table table-striped" ng-show="showResult">
          <thead>
            <tr>
              <th>UPC</th>
              <th>Name</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Add</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="product in products | limitTo:numLimit" >
              <td>{{product.upc}}</td>
              <td>{{product.name}}</td>
              <td>
                <a href="#" editable-text="product.quantity">
                {{product.quantity || 'empty'}}
                </a>
                <!-- <span class="glyphicon glyphicon-plus-sign"></span>
                <span class="glyphicon glyphicon-minus-sign"></span> -->
              </td>
              <td>{{product.price}}</td>
              <td>
                <button class="btn btn-default" 
                        ng-click="addProductToOrder(product)" 
                        ng-disable="disableButton()"> 
                  <span class="glyphicon glyphicon-plus-sign" ></span>
                  Add
                </button>
              </td>
              
            </tr>
            
          </tbody>
        </table>
      </div>


    </div>
  </div>

  
 <div class="row">
  <div class="col-md-6">

<!-- Add Customer -->
    <div ng-show="showAddCustomer">
      <form class="form-horizontal">
        <fieldset>

        <!-- Form Name -->
        <legend>Add Customer</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="first">First Name:</label>  
          <div class="col-md-4">
          <input ng-model="newCustomer.first" type="text" placeholder="First Name" class="form-control input-md" required="">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="last">Last Name</label>  
          <div class="col-md-4">
          <input ng-model="newCustomer.last" type="text" placeholder="Last Name" class="form-control input-md" required="">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="phone">Phone Number</label>  
          <div class="col-md-4">
          <input  ng-model="newCustomer.phone" type="text" placeholder="Phone Number" class="form-control input-md" required="">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="email">Email</label>  
          <div class="col-md-4">
          <input  ng-model="newCustomer.email" type="text" placeholder="Email" class="form-control input-md" required="">
            
          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="address">Address</label>
          <div class="col-md-4">                     
            <textarea class="form-control" ng-model="newCustomer.address"></textarea>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <div class="col-md-4">
            <button  ng-click="addCustomer()" class="btn btn-primary">Submit</button>
          </div>
        </div>

        </fieldset>
      </form>
    </div>





    </div>
  </div>

<!-- SHOW ORDER-->
  <div class="row" ng-if="showOrder">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th style="width:30%">UPC</th>
            <th style="width:15%">Name</th>
            <th style="width:15%">Quantity</th>
            <th style="width:15%">Unit Price</th>
            <th style="width:15%">Total Price</th>
            <th style="width:15%">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in orders">
            <td>
                {{ item.upc  }}
            </td>
            <td>
                {{ item.name  }}
            </td>
            <td>
              <span editable-text="item.quantity" e-name="quantity" e-form="rowform" onbeforesave="checkPrice($data, user.id)" e-required>
                {{ item.quantity  }}
              </span>
              
            </td>
            <td>
                {{ item.price  }}
            </td>
            <td>
                {{ item.price * item.quantity }}
            </td>
            <td style="white-space: nowrap">
              <!-- form -->
              <form editable-form name="rowform" onbeforesave="editItem(item)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                  save
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                  cancel
                </button>
              </form>
              <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                <button class="btn btn-danger" ng-click="removeItem($index, item)">del</button>
              </div>  
            </td>
            
            <tr>
              <td>
                <span>Grand Total:</span>
                <span>{{grandTotal}}</span>
              </td>
              <td rowspan="3">
                <button class="btn btn-success" ng-click="finalize()">Finalize</button>
              </td>
            </tr>
            

          </tr>
        </tbody>
      </table>
      
    </div>
    <div class="col-md-2"></div>
    
  </div>

  <div class="row" id="notifications">
    
  </div>

</div>