body { padding-top:30px; }
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}
.form-horizontal .control-label{
/* text-align:right; */
text-align:left;
}
.added_inventory{
	color: blue;
}
.inventory_sold{
	color: red;
}
.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;
}